
.formContainer{
  background: #b7d4f1;
  padding: 30px;
  color: blue;
  display: grid;
  justify-content: center;
}

.formContainer input{
  margin-right: 10px;
  width: 300px !important;
}

.formContainer button{
  width: 80px;
}



